{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "usage"
        }
      }
    ],
    ["@babel/preset-env", { "useBuiltIns": "usage", "corejs": 2 }]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@types": "./types",
          "@styles": "./styles",
          "@components": "./components"
        }
      }
    ],
    [
      "babel-plugin-styled-components",
      { "fileName": true, "displayName": true, "pure": true, "ssr": true }
    ]
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env", { "modules": false }], "next/babel"]
    }
  }
}
